# MongoDB root username
MONGO_INITDB_ROOT_USERNAME=kts-admin

# MongoDB root password
MONGO_INITDB_ROOT_PASSWORD=ChangeMe123

# MongoDB database name
MONGO_DB_NAME=mydb

# Host port to expose MongoDB
MONGO_PORT=27017

# Host port to expose API
API_PORT=3000
